.homeRight {
  padding: 1vmax;
  overflow-y: auto;
  box-sizing: border-box;
  .randomUsers {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    background-color: rgb(22 24 28);
    border-radius: 10%;
    > div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      color: white;
      > button {
        background: white;
        height: 50%;
        padding: 0.5vmax;
        border-radius: 25px;
        font-size: 15px;
        margin-right: 5px;
      }
    }
    > div > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > div > div > .userImage {
      height: 3vmax;
      width: 100px;
      width: 3vmax;
      margin: 1vmax;
      border-radius: 100%;
      border: 3px solid rgb(255, 201, 201);
    }
  }
}

@media screen and (max-width: 740px) {
  .homeRight {
    display: none;
  }
}
