.postBox {
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 1vmax 2vmax;
  margin-top: 1vmax;
  .postHeader {
    display: flex;
    padding: 1vmax;
    flex-direction: column;
    position: relative;
    > .postOwnerDetails {
      display: flex;
      align-items: center;
      height: 3rem;
      position: relative;
      > img {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
      }
      > a {
        text-decoration: none;
        color: black;
        font-family: monospace;
      }
      > svg {
        position: absolute;
        right: 0;
        cursor: pointer;
      }
      > button {
        position: absolute;
        right: 0;
        top: 3vmax;
        transition: all 0.3s ease-in-out;
        font-size: 1vmax;
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    > .editCaptionBox {
      position: absolute;
      width: 40vmax;
      bottom: 1vmax;
      background-color: #fff;
      padding: 0.5vmax;

      > div {
        width: 100%;
        display: flex;
        > input {
          width: 100%;
          border: none;
          outline: none;
          font-weight: 100;
          color: rgba(0, 0, 0, 0.5);
        }

        > button {
          position: absolute;
          right: 0;
          color: #593434;
          padding: 2px;
          cursor: pointer;
        }
      }
    }
    > p {
      font-weight: 100;
      margin-top: 10px;
    }
    > button {
      border-radius: 100%;
      color: rgba(0, 0, 0, 0.582);
    }
  }
  > img {
    width: 100%;
    aspect-ratio: 16/11;
  }
  > .postDetails {
    display: flex;
    padding: 1vmax;
    > a {
      text-decoration: none;
      color: black;
    }
  }
}

.postFooter {
  display: flex;
  justify-content: start;
  align-items: center;
  > button {
    margin: 1vmax 1vmax;
    border-radius: 100%;
    transition: all 0.3;
    cursor: pointer;
  }
}
.editBox {
  position: absolute;
  right: 2vmax;
  padding: 1vmax;
  font-size: 1vmax;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  z-index: 1;
  > button {
    color: #fff;
    margin-bottom: 1vmax;
    cursor: pointer;
  }
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 1.5vmax;
  > svg {
    margin-right: 5px;
  }
}
