.friends {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 100vh;
  h1 {
    color: white;
    font-family: "math";
    margin-left: 10px;
  }
  .friendsHeader {
    padding-top: 2vmax;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-evenly;
    button {
      color: rgb(113, 118, 123);
      padding: 1vmax;
      &:hover {
        background-color: rgb(46, 47, 48);
        cursor: pointer;
      }
    }
  }
}

.para {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
