.userProfile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 1vmax;
  background-color: #f0f2f5;
  overflow-y: auto;
  > .userInfo {
    display: flex;
    height: 18vmax;
    padding: 1rem 1rem;
    background-color: #e6e7e8;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
    .userUpperPart {
      display: grid;
      grid-template-columns: 1fr 0.2fr;
      > img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
      }
      > .profileUppeButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        > button {
          font-size: 1vmax;
          background-color: white;
          cursor: pointer;
          height: 2vmax;
          padding: 1rem;
          border-radius: 25px;
          > a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .userLowerPart {
      padding-left: 1vmax;
      font-family: monospace;
      margin-top: 1vmax;
      > p {
        margin-bottom: 0.5vmax;
      }
    }
    .userFooter {
      display: flex;
      padding-left: 1vmax;
      > .userFollowing {
        margin-right: 1vmax;
      }
    }
  }
  > .userPosts {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1vmax;
    margin: 0 1vmax;
  }
}
.editProfileContainer {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  width: 40vmax;
  height: 33%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
  > .editProfileBox {
    height: 100%;
    width: 100%;
    margin-left: 2vmax;
    margin-top: 1vmax;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .editProfilePic {
      position: relative;
      > svg {
        position: absolute;
        top: 1vmax;
        left: 1vmax;
        color: white;
      }
      > input {
        position: absolute;
        width: 30px;
        top: 1vmax;
        left: 1vmax;
        opacity: 0;
      }
      > img {
        height: 50px;
        width: 50px;
        border-radius: 100%;
      }
      .editSaveButton {
        position: absolute;
        color: white;
        right: 7vmax;
        top: -0.5vmax;
        background-color: white;
        color: black;
        padding: 0vmax 1vmax;
        border-radius: 5px;
        cursor: pointer;
        font-family: system-ui;
      }
      .close {
        position: absolute;
        right: 1vmax;
        color: white;
        top: -1vmax;
        cursor: pointer;
      }
    }
  }
}
.inputBox {
  display: flex;

  align-items: center;
  > input {
    width: 80%;
    border-radius: 5px;
    border: 0.5px solid #6b2fc5;
    padding: 1vmax;
    outline: none;
    padding: 1vmax;
  }
}
