* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background-color: black;
}
#root {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
@media screen and (max-width: 750px) {
  #root {
    grid-template-columns: 0.2fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  #root {
    grid-template-columns: 1fr;
  }
}
